<section id="register">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-4">
                <img class="blue-image" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/C7B9E544-84DC-42CD-890B-BBA9934EB677.png" alt=""></div>

            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <br>
                <form class="regForm login-items">
                    <img class="logo" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/C43C4A35-A04E-4C92-BA3B-FF1D3D758314.svg" alt />

                    <h2 class="welcome">Get your account</h2>

                    <span class="noAccount">Already have an account?
                        <span class="text-primary">Sign in</span>
                    </span>
                    <div class="form-group">
                        <input type="fullname" class="form-control" id="exampleInputFullname1" aria-describedby="fullnameHelp" placeholder="Fullname" />
                        <small id="exampleInputFullname1" style="font-size: 12px;" class="fl-label form-text text-muted ml-1">e.g. John Doe Johnny</small>

                    </div>
                    <div class="form-group form-group-sm">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" />
                        <small id="exampleInputEmail1" style="font-size: 12px;" class="fl-label form-text text-muted ml-1">Enter your company e-mail</small>

                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                        <img class="pasImg" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/253123FB-F883-43D6-8EEF-B5BF8544528B.svg" alt="">

                        <small id="exampleInputPassword1" style="font-size: 12px;" class="fl-label  form-text text-muted ml-1">Passwords must be at least 6 characters.</small>
                    </div>


                    <div class="form-group mt-5">
                        <button type="button" class="btn btn-info  btn-block signIn">Sign
                            up</button>
                        <span class="log-text">or sign up via</span>
                        <br><br>
                        <button type="button" class="btn btn-outline-primary socialBtn">
                                <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/22DCBB86-0502-4DBC-853A-87C240D08E82.svg"
                                    alt="">
                                <span class="s-btn">Google</span>
                            </button>

                        <button type="button" class="btn btn-outline-primary socialBtn fBtn ">
                                <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/2AF1D927-4E84-4DB5-B2E1-A4C57BD10605.svg"
                                    alt="">
                                <span class="s-btn">Facebook</span></button>
                    </div>


                </form>

            </div>
        </div>
    </div>
</section>