<router-outlet>
</router-outlet>


<div id="main-app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-xl-10 col-lg-10 first">
                <app-navbar style="z-index:2"></app-navbar>
                <div class="row">
                    <div class="tt">
                        <app-support></app-support>
                    </div>
                    <div class="ss">
                        <app-livechat></app-livechat>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .tt {
        width: 27%;
    }
    
    .ss {
        width: 73%;
    }
</style>