<div id="main-app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-xl-10 col-lg-10 first">
                <app-navbar style="z-index:2"></app-navbar>
                <div class="row paddingNo">

                    <div class="col-lg-3 gutter" style="padding: 0;">
                        <app-support></app-support>
                    </div>
                    <div class="col-lg-6 gutter" style="padding: 0;">
                        <app-livechat></app-livechat>
                    </div>
                    <div class="col-lg-3 gutter" style="padding: 0;">
                        <app-userdetails></app-userdetails>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .profile-icons {
        display: none;
    }
</style>