* {
    font-family: Inter;
}

#wrapper {
    overflow-x: hidden;
}

.list-group a {
    background-color: #23374d;
}

#sidebar-wrapper {
    width: 20%;
    background-color: #23374d;
    min-height: 100vh;
    margin-left: -25rem;
    -webkit-transition: margin .35s ease-out;
    -moz-transition: margin .35s ease-out;
    -o-transition: margin .35s ease-out;
    transition: margin .35s ease-out;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

hr {
    background-color: #ffffff;
    opacity: 0.1;
}

#sidebar-wrapper .lg1 .list-group-item {
    font-family: Inter;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}

.lg2 a .li-icon {
    position: absolute;
    left: 73%;
}

.lg2 .li-iconL {
    margin-left: 1%!important;
    margin-right: 14%!important;
}

.lg3 .li-iconL {
    margin-left: 1%!important;
    margin-right: 14%!important;
}

.lg3 .li-icon {
    position: absolute;
    left: 73%;
}

.list-group-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 2%;
    border: none!important;
}

.lg2 {
    border: none!important;
    font-family: Inter;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    ;
}

.lg1 .list-group-item img {
    margin-right: 12%;
    margin-left: 2%;
}

.lg2 .list-group-item img {
    margin-right: 4%;
    margin-left: 8%;
}

.lg3 .list-group-item img {
    margin-right: 4%;
    margin-left: 8%;
}

.list-group .list-group-item img {
    height: 24px;
    width: 24px;
}