<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="col-lg-2">
        <span> 
            <b>
                Live chat
            </b>
            </span>
    </div>
    <div class="col-lg-8">
        <div class="centered-items text-center">
            <span class="center-left mr-2 text-primary">Active</span>
            <span class="center-right text-primary">Archive</span>
        </div>
    </div>
    <div class="col-lg-2 header-right">
        <div class="quest">
            <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/B932BF7A-6454-4147-906E-8A60E9F56BC8.svg" alt="">
        </div>
        <div class="notif">
            <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/4FC44326-02BB-4DF9-AEF6-BE4B2CDF6303.svg" alt="">
        </div>
        <div class="profile">
            <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/profile-1506810-1278719.png" alt="">
        </div>
    </div>


</nav>