<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Live chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-center" id="navbarText">
        <ul class="navbar-nav mr-auto col-lg-4-offset">
            <li class="nav-item active navbar-center">
                <a class="nav-link" href="#">Actve <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Archive</a>
            </li>

        </ul>
        <span class="navbar-icons navbar-right">

            <img src="https://img.icons8.com/fluent-systems-regular/24/000000/ask-question.png" />
            <img src="https://img.icons8.com/small/16/000000/appointment-reminders--v1.png" />
            <img src="https://img.icons8.com/metro/26/000000/guest-male.png" />
        </span>
    </div>
</nav>