<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img class="logo mt-5 ml-4 mb-3" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/2717730A-4E8A-453B-9EDD-F6D481E443D7.svg" alt="">
            </div>
            <hr>
            <div class="list-group lg1">
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/3E6FDFD3-EAB5-4288-98E1-C4BB85A142AA.svg" alt=""> Dashboard
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/EFEA2DB2-B428-4544-AC3A-987D775FB179.svg" alt=""> Builder
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/F0ED322F-CE53-4DD4-AD8D-D2708DF9D192.svg" alt=""> Livechat
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/07ABB5BF-C2D3-4643-BF9E-D06BFA1358E6.svg" alt=""> Tickets
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/5C3EA9B0-83A7-4AB0-8A9F-6097E9B6634A.svg" alt=""> Customers

                </a>

            </div>
            <hr>

            <div class="list-group lg2">

                <a href="#" class="list-group-item list-group-item-action">
                    <img class="li-iconL" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/C4796611-207D-4941-8724-497E55A02D91.svg" alt=""> Groups
                    <img class="li-icon" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/A8A94AC9-94E3-4773-B29E-F62AD1CC6AE7.svg" alt="">


                </a>

                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> General
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" /> Marketing
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> Support
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> IT
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> Customers

                </a>

            </div>
            <hr>
            <div class="list-group lg3">

                <a href="#" class="list-group-item list-group-item-action">
                    <img class="li-iconL" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/C4796611-207D-4941-8724-497E55A02D91.svg" alt=""> Conversation
                    <img class="li-icon" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/A8A94AC9-94E3-4773-B29E-F62AD1CC6AE7.svg" alt="">


                </a>

                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> Botbox bot
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" /> Erlich Bachman
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> Richard Hendri
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> Jian Yang
                </a>
                <a href="#" class="list-group-item list-group-item-action ">
                    <img src="https://img.icons8.com/color/48/000000/test-account.png" alt=""> Bertram Gilfolye

                </a>

            </div>

        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            <app-navbar></app-navbar>
            <div class="wrapper">
                <app-dashboard></app-dashboard>

            </div>
        </div>




    </div>
    <!-- /#wrapper -->