<section id="reset">
    <div class="container">
        <div class="row frg">
            <div class="col-lg-6 fg-left">
                <div class="logo">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/64A6F8BF-92FB-45E2-8CD4-A386CA63E9D2.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 fg-right">
                <span class="noAcc">Dont have account ? <span class="text-primary">Sign up</span></span>
            </div>
        </div>

        <div class="fg-pass text-center">
            <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/A7309D61-3B31-452D-86D0-A4753ADEDC76.svg" alt="">
            <h3 class="text-center">Oops… Something went wrong!</h3>
            <p class="text-muted text-center">Something went wrong. Please check details and try again.</p>

        </div>

        <div class="buttons text-center">
            <button type="button" style="background-color: #1089ff;" class="btn btn-info mr-2  error-btn">
                <span class="rep-prb">Report Problem</span>    
                </button>
            <button type="button " style="border: solid 1px #1089ff;" class="btn btn-light error-btn"> 
                <span class="det">Details</span>  </button>
        </div>
    </div>
</section>