<section id="forgot">
    <div class="container">
        <div class="row frg">
            <div class="col-lg-6 fg-left">
                <div class="logo">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/64A6F8BF-92FB-45E2-8CD4-A386CA63E9D2.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 fg-right">
                <span class="noAcc">Dont have account ? <span class="text-primary" routerLink="/register" style="cursor: pointer;">Sign up</span></span>
            </div>
        </div>

        <div class="fg-pass text-center" style="margin-top: 15%;">
            <h3 class="text-center">Forgot Password?</h3>
            <p class="text-muted text-center">Write your registered email to reset your password</p>

            <div class="form-group-sm mt-5">
                <input type="email" class="form-controller" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" />

            </div>
            <button type="button" class="btn btn-primary btn-lg blockBtn mt-5">
              Sign in
            </button>

        </div>
    </div>
</section>