<template>
    <section class="fg">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="bbLogo">
              <img
                src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/64A6F8BF-92FB-45E2-8CD4-A386CA63E9D2.svg"
                alt
              />
            </div>
          </div>
          <div class="col-6">
            <div class="fgSign">
              <span>Don't Have Account?</span>
              <span class="text-primary">Sign Up</span>
            </div>
          </div>
        </div>
  
        <div class="row justify-content-lg-center">
          <h3 class="fg fPass">
            <b>Forgot Password</b>
          </h3>
        </div>
  
        <div class="row justify-content-lg-center">
          <span class="text-muted fgMuted">Please write your registered email for reset your password</span>
        </div>
  
        <div class="row justify-content-md-center">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="E-mail"
            />
  
            <button type="button" class="btn btn-primary btn-lg btn-block sendButton">Send</button>
          </div>
        </div>
      </div>
    </section>
  </template>