<section id="register">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <br>
                <form class="regForm login-items">
                    <img class="logo" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/C43C4A35-A04E-4C92-BA3B-FF1D3D758314.svg" alt />

                    <h2 class="welcome">Welcome back</h2>

                    <span class="noAccount">Don't have an account?
                        <span class="text-primary">Sign up</span>
                    </span>
                    <div class="form-group form-group-sm">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" /> </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />

                    </div>


                    <form>
                        <div class="form-row afterInput mt-5">
                            <div class="col-9">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        Remember me
                              </label>
                                </div>
                            </div>

                            <div class="col-auto">
                                <span class="fp">Forgot Password</span>
                            </div>
                        </div>
                    </form>

                    <div class="form-group mt-5">
                        <button type="button" class="btn btn-info signIn">Sign
                            in</button>
                    </div>

                    <span class="log-text">or log in via</span>
                    <br><br>
                    <button type="button" class="btn btn-outline-primary socialBtn">
                        <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/22DCBB86-0502-4DBC-853A-87C240D08E82.svg"
                            alt="">
                        <span class="s-btn">Google</span>
                    </button>

                    <button type="button" class="btn btn-outline-primary socialBtn fBtn">
                        <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/2AF1D927-4E84-4DB5-B2E1-A4C57BD10605.svg"
                            alt="">
                        <span class="s-btn">Facebook</span></button>
                </form>

            </div>
            <div class="col-lg-7 col-md-4">
                <img class="blue-image" src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/73432BAD-A339-43A9-A3FA-8DAECA58EA23.png" alt=""></div>
        </div>
    </div>
</section>