<section id="reset">
    <div class="container">
        <div class="row frg">
            <div class="col-lg-6 fg-left">
                <div class="logo">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/64A6F8BF-92FB-45E2-8CD4-A386CA63E9D2.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 fg-right">
                <span class="noAcc">Dont have account ? <span class="text-primary">Sign up</span></span>
            </div>
        </div>

        <div class="fg-pass text-center">
            <h3 class="text-center">Reset password</h3>
            <p class="text-muted text-center">Enter your new password</p>

            <div class="form-group mt-5">
                <input type="password" class="form-controller" id="passReset" aria-describedby="emailHelp" placeholder="Enter new password" />

            </div>
            <div class="form-group-sm mt-5">
                <input type="password" class="form-controller" id="passReset" aria-describedby="passwordHelp" placeholder="Retype new password" />

            </div>


            <button type="button" class="btn btn-primary btn-lg blockBtn mt-5">
              Save
            </button>
        </div>
    </div>
</section>