* {
    font-family: Inter!important;
    outline: none!important;
}

a {
    text-decoration: none;
}


/* sidebar starts here */


/* sidebar ends here */


/* navbar starts here */

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    background-color: #ffffff;
    width: 100%;
    float: right;
    padding: 0;
    margin-bottom: 15px!important;
}

.navbar .navbar-text .solid-user {
    background-color: #e1e4e8;
    border-radius: 160px;
}

.navbar .navbar-text svg {
    cursor: pointer;
    margin-left: 24px;
}

.navbar .navbar-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #1e2f42!important;
    margin-right: 0;
}

.navbar .btn-group-toggle {
    background-color: #f4f9ff;
    border-radius: 24px;
}

.navbar .order-2 .btn-active {
    border-radius: 24px;
    color: #ffffff;
    background-color: #1089ff;
    font-size: 16px;
    font-family: Inter;
    border: none;
    height: 48px;
    width: 100px;
}

.navbar .order-2 .btn-archive {
    border-radius: 24px;
    background-color: #f4f9ff;
    color: #0076e8;
    font-size: 16px;
    font-family: Inter;
    border: none;
    height: 48px;
    width: 100px;
}


/* navbar ends here */

.contact span.online {
    background: #2ecc71;
}

.contact span.away {
    background: #f1c40f;
}

.contact span.busy {
    background: #e74c3c;
}