<div id="canned">
    <div class="container">

        <!-- Button to Open the Modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Open Modal
        </button> -->

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-right modal-dialog-top">
                <div class="modal-content">

                    <div class="modal-header">
                        <p class="save">Save as canned response </p>

                        <button type="button" class="close" data-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#1E2F42">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M18.984 6.422L13.406 12 18.984 17.578 17.578 18.984 12 13.406 6.422 18.984 5.016 17.578 10.594 12 5.016 6.422 6.422 5.016 12 10.594 17.578 5.016z" transform="translate(-1632 -116) translate(1391 88) translate(1 28) translate(240)"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        </button>
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd">
                                <g fill="#1E2F42">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M18.984 6.422L13.406 12 18.984 17.578 17.578 18.984 12 13.406 6.422 18.984 5.016 17.578 10.594 12 5.016 6.422 6.422 5.016 12 10.594 17.578 5.016z" transform="translate(-1632 -116) translate(1391 88) translate(1 28) translate(240)"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg> -->

                    </div>

                    <div class="modal-body text-center">
                        <p class="canned-text"> CANNED RESPONSE TEXT</p>


                        <div class="form-top">
                            <input type="text-top" class="inputText" disabled/>
                            <span class="floating-label">
                                Hey there, Can you show me how to add a team member in the group?
                            </span>
                        </div>

                        <div class="form-bottom">

                            <span class="shortcut-tag">#</span>
                            <input type="text" class="inputText-sm" required />
                            <!-- <span class="floating-label-bottom">
                                Shortcut
                            </span> -->
                        </div>

                        <p class="shortcut-text">Separate shortcuts with comma

                        </p>

                        <p class="mini-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                <g fill="none" fill-rule="evenodd">
                                    <g fill="#0DA8C7">
                                        <g>
                                            <g>
                                                <path
                                                    d="M10.82 7.5H9.18V5.82h1.64V7.5zm0 6.68H9.18v-5h1.64v5zM10 1.68c2.37.052 4.336.86 5.898 2.422C17.461 5.664 18.268 7.63 18.32 10c-.052 2.37-.86 4.336-2.422 5.898-1.562 1.563-3.528 2.37-5.898 2.422-2.37-.052-4.336-.86-5.898-2.422C2.539 14.336 1.732 12.37 1.68 10c.052-2.37.86-4.336 2.422-5.898C5.664 2.539 7.63 1.732 10 1.68z"
                                                    transform="translate(-1070 -516) translate(1040) translate(30 516)" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg> To use canned response in a chat, type # and your shortcut</p>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>