<div id="chatbox">
    <div class="container-fluid no-pad">
        <div class="row ">
            <div class="col-xl-2 col-lg-2 ">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-xl-10 col-lg-10 first">
                <app-navbar style="z-index:2"></app-navbar>
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-3" style="padding-left: 6px;">
                        <app-support></app-support>
                    </div>
                    <div class="col-lg-8 col-xl-8 col-md-9">
                        <div class="text-center no-chat-message" style="margin-top: 32%;">
                            <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56">
                                        <g fill="none" fill-rule="evenodd">
                                            <g fill="#F7AF22">
                                                <g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g>
                                                                    <path d="M30.297 23.297h-4.594V14h4.594v9.297zm0 9.406h-4.594V28h4.594v4.703zm21-23.406v28c0 1.312-.438 2.424-1.313 3.336-.875.911-1.968 1.367-3.28 1.367H14l-9.297 9.297v-42c0-1.313.438-2.406 1.313-3.281s1.968-1.313 3.28-1.313h37.407c1.313 0 2.406.438 3.281 1.313s1.313 1.968 1.313 3.28zm-4.594 0v28H12.141L9.297 40.14V9.297h37.406z" transform="translate(-1128 -392) translate(1128 392)"/>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                            <p>You have not selected any chat now.
                                <br> Please select customer and start chatting.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <style>
        * {
            font-family: Inter;
        }
        
        .no-pad {
            padding: 0;
        }
        
        .t {
            padding: 0;
        }
        
        .first {
            z-index: 1;
        }
        
        .second {
            z-index: 2;
        }
        
        .third {
            z-index: 3;
        }
        
        .text-center {
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #4e5d78;
        }
    </style>