<div class="container">
    <h2>Modal Example</h2>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>

                <div class="modal-body text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#F7AF22">
                                <g>
                                    <g>
                                        <path
                                            d="M36.719 56.719h6.562V50H36.72v6.719zm0-13.438h6.562v-20H36.72v20zM40 6.72c-9.48.208-17.344 3.463-23.594 9.765C10.156 22.786 6.927 30.625 6.72 40c.208 9.48 3.437 17.344 9.687 23.594S30.521 73.073 40 73.28c9.48-.208 17.344-3.437 23.594-9.687S73.073 49.479 73.28 40c-.208-9.48-3.437-17.344-9.687-23.594S49.479 6.927 40 6.72zm0 60c-7.604-.209-13.906-2.813-18.906-7.813-5-5-7.604-11.302-7.813-18.906.209-7.604 2.813-13.906 7.813-18.906 5-5 11.302-7.604 18.906-7.813 7.604.209 13.906 2.813 18.906 7.813 5 5 7.604 11.302 7.813 18.906-.209 7.604-2.813 13.906-7.813 18.906-5 5-11.302 7.604-18.906 7.813z"
                                            transform="translate(-804 -322) translate(560 282) translate(244 40)" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                    <p class="modal-warning">Are you sure you want to complete and archive the chat with Jeremías del Pozo?</p>
                    <button class="btn btn-stop btn-lg mr-2">No, continue</button>
                    <button class="btn btn-go btn-lg">Yes, complete</button>
                </div>
                <!-- Modal footer -->

            </div>
        </div>
    </div>

</div>