<div id="canned">
    <div class="container">


        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-right">
                <div class="modal-content">

                    <div class="modal-header">
                        <p class="save">Forward this chat to </p>

                        <button type="button" class="close" data-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <g fill="#1E2F42">
                                        <g>
                                            <g>
                                                <g>
                                                    <path d="M18.984 6.422L13.406 12 18.984 17.578 17.578 18.984 12 13.406 6.422 18.984 5.016 17.578 10.594 12 5.016 6.422 6.422 5.016 12 10.594 17.578 5.016z" transform="translate(-1632 -116) translate(1391 88) translate(1 28) translate(240)"/>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            
                        </button>

                    </div>

                    <div class="modal-body text-center">
                        <p class="canned-text"> Forward to</p>

                        <div class="form-bottom mb-5">


                            <div class="dropdown">
                                <input type="text" class="inputText-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" required />
                                <div class="form-items">
                                    <svg class="search-item" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <path fill="#C9CED6" fill-rule="evenodd"
                                            d="M9.167 13.333c2.3 0 4.166-1.865 4.166-4.166C13.333 6.865 11.468 5 9.167 5 6.865 5 5 6.865 5 9.167c0 2.3 1.865 4.166 4.167 4.166zm0-10C12.388 3.333 15 5.945 15 9.167c0 1.31-.432 2.52-1.162 3.494l2.585 2.583c.325.326.325.853 0 1.179-.326.325-.853.325-1.179 0l-2.583-2.585c-.974.73-2.184 1.162-3.494 1.162-3.222 0-5.834-2.612-5.834-5.833 0-3.222 2.612-5.834 5.834-5.834z" />
                                    </svg>

                                    <svg class="collapseBtn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <g fill="none" fill-rule="evenodd">
                                            <g fill="#1E2F42">
                                                <g>
                                                    <g>
                                                        <path d="M6.984 9.984L17.016 9.984 12 15z"
                                                            transform="translate(-1614 -140) translate(1040) translate(574 140)" />
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="forward-item">
                                        Search for group or teammate
                                    </span>

                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <p class="teammates">Teammates</p>
                                    <a class="dropdown-item" href="#">
                                        <div class="wrap">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6y5kan7ydWfYYcZzx1qy2bZQst8Q5Wie12Q&usqp=CAU" alt="" />
                                            <div class="user-item">
                                                <p class="user-name">Richard Hendricks</p>
                                                <p class="chat-details"> 0 Chats - Marketing</p>
                                            </div>

                                        </div>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <div class="wrap">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6y5kan7ydWfYYcZzx1qy2bZQst8Q5Wie12Q&usqp=CAU" alt="" />
                                            <div class="user-item">
                                                <p class="user-name">Richard Hendricks</p>
                                                <p class="chat-details"> 0 Chats - Marketing</p>
                                            </div>

                                        </div>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <div class="wrap">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6y5kan7ydWfYYcZzx1qy2bZQst8Q5Wie12Q&usqp=CAU" alt="" />
                                            <div class="user-item">
                                                <p class="user-name">Richard Hendricks</p>
                                                <p class="chat-details"> 0 Chats - Marketing</p>
                                            </div>

                                        </div>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <div class="wrap">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6y5kan7ydWfYYcZzx1qy2bZQst8Q5Wie12Q&usqp=CAU" alt="" />
                                            <div class="user-item">
                                                <p class="user-name">Richard Hendricks</p>
                                                <p class="chat-details"> 0 Chats - Marketing</p>
                                            </div>

                                        </div>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <div class="wrap">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ6y5kan7ydWfYYcZzx1qy2bZQst8Q5Wie12Q&usqp=CAU" alt="" />
                                            <div class="user-item">
                                                <p class="user-name">Richard Hendricks</p>
                                                <p class="chat-details"> 0 Chats - Marketing</p>
                                            </div>

                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="form-top">

                            <input type="text" class="inputText" required />
                            <span class="floating-label">
                                Message
                            </span>


                        </div>








                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel">Cancel</button>
                        <button type="button" class="btn btn-save">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>