<div id="chatbox">



    <div class="container-fluid padding-0">

        <div class="row no-gutters">
            <div class="col-lg-2 col-xl-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-3 col-xl-3 padding-0">
                <app-support></app-support>
            </div>
            <div class="col-7 col-xl-7 padding-0">
                <app-livechat></app-livechat>
            </div>
        </div>
    </div>
    <!-- 
 

    <style>
        .gtr {
            padding-right: 0;
            padding-left: 0;
        }
    </style> -->





    <!-- 
    <div class="col-2" style="z-index: 1;
        position: absolute;">
        <app-sidebar style="z-index: 1;"></app-sidebar>
    </div>
    <div class="col-auto">
        <app-navbar></app-navbar>
    </div>

    <div class="col-3">
        <app-support></app-support>
    </div>

    <div class="col-7">
        <app-livechat></app-livechat>
    </div>


</div> 
-->


    <!-- <app-support></app-support> -->