<div id="livechat">
    <div class="sidebar ml-5">
        <img src="" alt="">
        <h3 class="logo1 ml-2 mt-2 mb-5">
            <img src="https://assets.website-files.com/5f3278feb2a0d8044f912ec8/5f3278feb2a0d871c7912ff5_logobotbox.svg" alt="">
        </h3>
        <div class="divisor"></div>
        <a href="" class="st mt-5"><img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/334E7E02-685C-4C3A-B1E1-139F2552E668.svg" alt=""> <span class="n-items ml-4 ">Dashboard</span></a>
        <a href="" class="st"> <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/9795E1D4-EDFD-473B-A702-8A5ADF92714C.svg" alt=""><span class="n-items ml-4">Builder</span></a>
        <a href="" class="st"><img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/7DC7E36D-3BF9-41E7-8DCB-706981406D04.svg" alt=""> <span class="n-items ml-4">Live chat</span></a>
        <a href="" class="st"><img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/6CAF90A7-3910-4516-AF36-788D18F253AD.svg" alt=""><span class="n-items ml-4">Tickets</span></a>
        <a href="" class="st"> <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/3DA0B6E9-1973-4C1E-9BB0-082035BF55D0.svg" alt=""><span class="n-items ml-4">Customers</span></a>
        <div class="divisor"></div>

        <div class="groups mt-5">
            <a href=""><img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/B3C23FCB-09B0-44E7-89B2-A373B16FA4A9.svg" alt="">
                <span class="n-items ml-5">Groups</span>
                <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/08D70EBB-6E1B-402E-9135-78D10D8361CB.svg" alt="">
            </a>

            <a href="" class="st mt-5"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""> <span class="n-items ml-4 ">General</span></a>
            <a href="" class="st"> <img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""><span class="n-items ml-4">Marketing</span></a>
            <a href="" class="st"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""> <span class="n-items ml-4">Support</span></a>
            <a href="" class="st"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""><span class="n-items ml-4">IT</span></a>


        </div>

        <div class="conversation mt-5">
            <a href=""><img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/B3C23FCB-09B0-44E7-89B2-A373B16FA4A9.svg" alt="">
                <span class="n-items ml-5">Conversations</span>
                <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/08D70EBB-6E1B-402E-9135-78D10D8361CB.svg" alt="">
            </a>
            <a href="" class="st"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""> <span class="n-items ml-4">Botbox bot</span></a>
            <a href="" class="st"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""><span class="n-items ml-4">Erlich Bachman</span></a>
            <a href="" class="st"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""> <span class="n-items ml-4">Richard Hendricks</span></a>
            <a href="" class="st"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""><span class="n-items ml-4">Jian Yang</span></a>
            <a href="" class="st"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu9XIbdcC0PjN7EI0ZeY8dLwiNOlPUF0GlceAdMj=s32-c-mo" alt=""><span class="n-items ml-4">Bertram Gilfolye</span></a>

        </div>
    </div>
</div>