<section id="reset">
    <div class="container">
        <div class="row frg">
            <div class="col-lg-6 fg-left">
                <div class="logo">
                    <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/64A6F8BF-92FB-45E2-8CD4-A386CA63E9D2.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 fg-right">
                <span class="noAcc">Dont have account ? <span class="text-primary">Sign up</span></span>
            </div>
        </div>

        <div class="fg-pass text-center">
            <img src="https://cdn.zeplin.io/5e452bb6eea263b4f1095377/assets/7B8E8028-A0A3-4719-8A30-39AAD7E16574.svg" alt="">
            <h3 class="text-center">Congratulations!</h3>
            <p class="text-muted text-center">Your password succesfully changed </p>


            <button type="button" class="btn btn-primary btn-lg blockBtn mt-5">
              Sign in
            </button>
        </div>
    </div>
</section>